@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<ul>
    <li>Sergio Baidon</li>
    <li>Gabriel Grijalva</li>
    <li>Antonio Hernandez</li>
    <li>Luis Mora</li>
</ul>