@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Simple Capa App</h1>
    <p class="lead">Team #1 </p>
      @Html.ActionLink("Administrators", "Index", "Administrators", null, new { @class = "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent", @style = "color:white" })
</div>

<div class="row">
    <div class="col-md-12">
        @Html.Action("Index", "Capas", null)
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Over Due Tasks</h2>
        @Html.Action("OverdueTasks", "Tasks", null)
    </div>
    <div class="col-md-6">
        <h2>Completed Tasks</h2>
        @Html.Action("Completed" , "Tasks", null)
    </div>
</div>